.App {
  margin: auto;
  padding: 2.5%;
  button {
    padding: 0.5rem 0.75rem;
    color: white;
    border: none;
    border-radius: 6px;
    transition: all 0.5s;
    transform: scale(1);
  }

  form {
    width: 100%;
    margin-top: 10px;

    input {
      width: 100%;
      height: 80%;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 25px;
    }

    button{
      margin-top: 10px;
      margin-right: 0.5rem;
    }
  }

  .item {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 35%;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 25px;
    .editBtn {
      background-color: green;
    }
.functionalBtn{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
    .deleteBtn {
      margin-left: 10px;
      background-color: red;
    }

    .completed {
      font-style: italic;
      color: rgb(120, 120, 120, 1);
      text-decoration: line-through;
    }
  }

  button:hover {
    transition: all 0.5s;
    transform: scale(1.1);
  }

  button:disabled {
    cursor: not-allowed;
    background-color: rgb(120, 120, 120, 1);
    transform: scale(1);
  }
}

.hint {
  font-size: 0.9rem;
  color: rgb(120, 120, 120, 1);
}
@media screen and (width > 768px) {
  .App {
    width: 50%;
  }
}